<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand">Home</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Alterna navegação"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/register">Register</a>
        <a class="nav-item nav-link" routerLink="/peoples">Registered people</a>
      </div>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <div class="row fullRow">
      <div class="col-lg-6 col-md-3 col-sm-0 bgImage d-flex justify-content-center align-items-center flex-column" id="Header">
        <div class="p-3 bg-light myShadowHd" style="border-radius:6px;" id="myTitle">
          <h1 class="text-center">Angular && Bootstrap + <br> Java Springboot + <br> Hibernate && Postgre</h1>
        </div>
      </div>
      <div class="col-lg-6 col-md-9 col-sm-12" id="contentRouter">
        <router-outlet></router-outlet>
      </div>
  </div>
</div>