<div class="container myFade">
    <div class="row" style="height:50px;">
    </div>
    <div class="card myShadow">
      <article class="card-body mx-auto col-12">
        <div *ngFor="let item of error; let i = index" class="col-12">
          <div
            class="alert alert-primary alert-dismissible fade show col-12"
            role="alert"
            *ngIf="error.length"
          >
          <p>{{error[i]}}</p>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        </div>
        <h4 class="card-title mt-3 text-left">Insert people</h4>
        <form class="col-lg-8 col-md-12">
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <!-- <font-awesome-icon icon="user" /> -->
              </span>
            </div>
            <input
              name="name"
              class="form-control"
              placeholder="Full name"
              type="text"
              required
              [(ngModel)]="name"
            />
            <input
              name="id"
              type="hidden"
              required
              [(ngModel)]="id"
            />
          </div>
          <!-- form-group// -->
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <!-- <font-awesome-icon icon="envelope" /> -->
              </span>
            </div>
            <input
              name="email"
              class="form-control"
              placeholder="Email address"
              type="email"
              [(ngModel)]="email"
              required
            />
          </div>
          <!-- form-group// -->
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <!-- <font-awesome-icon icon="phone" /> -->
              </span>
            </div>
            <input
              name="phone"
              class="form-control"
              placeholder="Phone number"
              type="tel"
              mask="(00) 00000-0000"
              [(ngModel)]="phone"
              required
            />
          </div>
          <!-- form-group// -->
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <!-- <font-awesome-icon icon="briefcase" /> -->
              </span>
            </div>
            <select name="job" class="form-control" [(ngModel)]="job" required>
              <option disabled selected>Select job type</option>
              <option>Designer</option>
              <option>Manager</option>
              <option>Accaunting</option>
            </select>
          </div>
          <!-- form-group end.// -->

          <!-- form-group// -->
          <div class="form-group">
            <button type="button" (click)="updateRegister()" class="btn btn-success btn-block">Insert People</button>
          </div>
        </form>
      </article>
    </div>
    <!-- card.// -->
  </div>